#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 20px;
  text-align: left;
}
.app1{
  margin:10px;
}
.app2{
  margin:10px;
}
.app3{
  margin:10px;
}
.app4{
  margin:10px;
}
.app5{
  margin:10px;
}
.app6{
  margin:10px;
}
.app7{
  margin:10px;
}
.app8{
  margin:10px;
}
.app9{
  margin:10px;
}
.app10{
  margin:10px;
}
.app11{
  margin:10px;
}
.app12{
  margin:10px;
}
.app13{
  margin:10px;
}
.app14{
  margin:10px;
}
.app15{
  margin:10px;
}
.app16{
  margin:10px;
}
.app17{
  margin:10px;
}
.app18{
  margin:10px;
}
.app19{
  margin:10px;
}





