#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 20px;
  text-align: left;
}
.app1{
  margin:10px;
}
.app2{
  margin:10px;
}
.app3{
  margin:10px;
}
.app4{
  margin:10px;
}
.app5{
  margin:10px;
}
.app6{
  margin:10px;
}





